body, html{
    margin:0;
    padding:0;
    height: 100%;
}
.scoreboard-container {
    position: absolute;
    left: 20px; /* Adjust as needed */
    top: 20px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.scoreboard {
    width: 300px; /* Adjust scoreboard width as needed */
}
.scoreboard-header {
    text-align: center;
    margin-bottom: 10px;
}

.scoreboard-header h1 {
    font-size: 1.5rem;
    margin: 5px 0;
}

.quarter {
    font-size: 1rem;
    font-weight: bold;
}

.team {
    text-align: center;
    margin-bottom: 15px;
}
.team-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.team-score {
    font-size: 3rem;
}

.team-quarters {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.quarter-input {
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
}

.background-image{
    position: relative;
    width:100%;
}

.background-image img{
    width: 100%;
    height: auto; 
    display: block;
}

.team-quarters input[type="number"]::-webkit-outer-spin-button,
.team-quarters input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.channel-overlay{
    position: absolute;
    top: 2px;
    right:20px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding:10px; 
    border-radius: 5px; 
}

.channel-info{
    display:flex; 
    align-items: center;
}
.channel-info img{
    width: 30px;
    height:30px;
    margin: right 5px;
}

.channel-name{
    font-size: 14px; 
    font-weight: bold; 
}

.live-label{
    font-size:24px;
    font-weight: bold; 
    background-color: rgb(247, 45, 45); 
    padding: 3px 7px; 
    border-radius: 3px; 
    margin-top: 5px;
}

