body {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  margin-top: 0;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}
h3,
h4,
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* intro */
.introSection {
  background-image: url("flowers.jpg");
  background-image: grayscale;
  opacity: 100%;
  background-color: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introTextContainer {
  width: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

/* end intro */

.concertListingSection {
  background-color: rgb(224, 224, 205);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.concertListingItem {
  width: 60%;
  max-width: 800px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.concertFooter {
  display: flex;
}
.concertListingFooterItem {
  flex: 1;
}
