body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: yellow;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkorchid;
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkorchid;
}


img{
    width:30vw;
    height: 30vh;
    transition: 1s ease-in-out;
}

img:hover{
    filter:grayscale(1);
}

#red-ball{
    background-color: green;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    animation: bounce 3s infinite; 

}

@keyframes bounce{
    0%, 100%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(100px);
    }
}