/* General Page Styles */
body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 0.63em;
    background-color: #ccc;
  }
  
/*Setup of Card Container Styles*/

.card article img{
  float: right; 
}

.card article{
  height: 15em;
  background-color: rgba(0,0,0,0.5);
}

/* Header and Footer Styles*/
header, footer {
  background: linear-gradient( darkred, red);
  border-radius: 1.5em; 
  max-height: 100%;
  height: 3.75em;

}

h2, p{
  margin:0;
}
h2{
  font-size: 1.25em; 
  line-height:1.88em;
}

/* Main Business Card Styles*/ 
.card {
  width: 2.19em;
  height: 1.38em; 
  background-color: red;
  border:0.06em solid black;
  border-radius: 1.88em; 
}