body {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  margin-top: 0;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}
h3,
h4,
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: smaller;
  font-style: normal;
}

/* intro */
.introSection {
  opacity: 100%;
  background-color: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introTextContainer {
  width: 70%;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

.introTitle {
  font-size: 40px;
  text-align: center;
}
.introDescription {
  font-size: larger;
}
/* end intro */

.concertListingSection {
  background-color: rgb(224, 224, 205);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.concertListingItem {
  width: 60%;
  max-width: 800px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.concertListingDates {
  font-style: italic;
}

.concertFooter {
  display: flex;
}
.concertListingFooterItem {
  flex: 1;
}

h3 {
  font-size: 20px;
  font-family: "homemade apple";
}
